.categoryItem{
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  padding-left: 5%;
}

.categoryItem h3{
    font-size: clamp(1.2rem, 2vw, 1.7rem);
}

.categoryItem h3 span{
    position: relative;
}

.categoryItem h3 span::before{
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -10%;
  transition: all 0.3s ease-in-out;
}

.categoryItem:hover h3 span::before{
  width: 95%;
}

.categoryItem p{
  align-self: start;
  width: 95%;
}
